    body{font: 18px system-ui, -apple-system, Helvetica, sans-serif;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    margin: 0;
    padding: 0;
  }

h1{
margin: 0 0 10px 0;
}
  .container {
    padding: 10px;
  }
  .logout-btn, #user-details, #add-data, .read-btn { display: none }
  .visible { display : block !important}
  div#exd .exd-row {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
          border-radius: 10px;
    padding: 15px 5px;
          margin-bottom: 20px;
    color: #FFF;
      background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
      flex-direction: column;
  }
  div#exd .exd-row span {
    width: 100%;
    padding: 0px 10px;
    text-transform: capitalize;
      box-sizing: border-box;
  }
  div#add-data input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
  }

  div#add-data {
    margin-top: 20px;
  }

  button#add-data-btn {
    display: flex;
    padding: 10px;
    margin: auto;
    min-width: 280px;
    justify-content: center;
    font-weight: 700;
    margin-bottom: 20px;
  }

.loggedin div#user-details {
    display: flex !important;
    justify-content: space-between;
}

div#exd .exd-row span:nth-child(2) {
    font-size: 30px;
    margin-bottom: 10px;
}

div#exd .exd-row span:nth-child(1) {
    font-size: 20px;
}

div#add-data {
    position: fixed;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 20px;
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
